@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
}

header {
	width: 100%;
	height: auto;
	background: url(../images/background-image.png);
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	
}

h1 {
	font-family: 'Poppins', sans-serif;;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: #00252E;
}

h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
}

p {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */
	color: #00252E;
}

.margin_section {
    width: 80%;
	margin: 2rem auto;
	padding: 1rem;
}

#logo {
	display: flex;
	justify-content: space-between;

}

.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 28px;
	border: none;
	outline: none;
}

.btn-secondary {
	width: 200px;
	height: 51px;
	background-color: #FFF;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.0954201);
	border-radius: 24px;
}
.btn-secondary:hover{
	color: #808E9A;
}

.btn-primary {
	width: 280px;
	height: 56px;
	font-size: 14px;
	font-weight: 700;
	background: #FF52C1;
	color: #FFF;
	box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);
}

.btn-primary:hover{
	background: #fc66c5;
}

#banner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* width: 100%; */
	gap: 56px;
}

.banner_image {
	display: flex;
	width: 100%;
	/* flex: 1; */
}

.banner_image img{
	width: 100%;
	height: 100%;
}

.banner_content {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 1rem;
}

main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 6rem;
}

.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
	border-radius: 16px;
	padding: 2rem 4rem;
}

.main-image {
	display: flex;
	width: 50%;
}

.main-image img {
	width: 100%;
	height: 100%;
}

.main-subcontent {
  	display: flex;
	flex-direction: column;
	width: 50%;
	row-gap: 1rem;
}

footer{
	width: 100%;
	height: 418px;
	background-color: #00252E;
	position: relative;
	margin-top: 15rem;
}


#community {
	position: absolute;
	top: -11rem;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: auto;
	width: 800px;
	height: 280px;
	background: #FFFFFF;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
	border-radius: 15px;
}

#community p{
	font-size: 32px;
	line-height: 60px;
	font-weight: 700;
}

footer  #black{
	/* top: 8rem; */
	color: #FFF;
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	margin-top: 12rem;
	row-gap: 2rem;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 24px;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
}

footer .logo {
	margin-top: 8rem;
}

.col_1 ul li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* flex-direction: column; */
	/* width: 1; */
	gap: 1.5rem;
	}

.col_1 ul li:nth-child(1) {
	justify-content: flex-start;
	align-items: flex-start;
}

.col_2 ul li, .col_3 ul li{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1.5rem;
	cursor: pointer;
}
.col_2 ul li:hover, .col_3 ul li:hover{
	text-decoration: underline;
}

.col_4{
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	gap: 5rem;
}

.socials{
	display: flex;
	gap: 1rem;
}

.socials span {
	display: flex;
	justify-content: center;
	align-items: center;
	width:31px;
	height: 31px;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
}

.socials span:hover{
	border: 1px solid #FF52C1;
	color: #FF52C1;
}
.copyright {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

